## Setup Python venv, install streamlit and run app
files:
  /home/ec2-user/script.sh:
    group: root
    mode: "000755"
    owner: root
    content: |
      #!/bin/bash
      cd /home/ec2-user/
      python3 -m venv /home/ec2-user/my_app/env
      source /home/ec2-user/my_app/env/bin/activate
      pip install streamlit && streamlit run /home/ec2-user/covidnepal.py & 

  /home/ec2-user/covidnepal.py:
    group: root
    mode: "000755"
    owner: root
    source: https://raw.githubusercontent.com/basantashrestha/covid19tracker/master/src/covidnepal.py 
    

  /home/ec2-user/covidnepal.csv:
    group: root
    mode: "000755"
    owner: root
    source: https://raw.githubusercontent.com/basantashrestha/covid19tracker/master/src/covidnepal.csv  

commands:
  runapp:
    command: /home/ec2-user/script.sh
